<div id="home-sec">
    <div class="container"  >
        <div class="row text-center">
            <div  class="col-md-12" >
                <span class="head-main" >Hello, I&#39;m Moshiko</span>
            </div>
        </div>
    </div>

</div>
<section id="about">
    <div class="container" style="padding: left">
        <div class="row g-pad-bottom ">
            <div class="col-md-6 ">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-plus"></i> SMALL INTRODUCTION
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h3>A full stack web developer </h3>
                                with a strong interest in projects that require both conceptual and analytical thinking.
                                Fully - committed to designing and developing innovative web-based materials that users will love.
                                Always eager to learn more tricks from anyone - regardless of the industry they're working in.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    <i class="fa fa-plus"></i>EDUCATION
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h3>Full Stack Web Developer</h3>
                                John Bryce College Jerusalem IL,
                                Technical Diploma 2014-2016
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-6 ">
                <h1>Moshiko Ohana</h1>
                A full stack web developer. Contact:
                <h4>moshikoohana@gmail.com | </h4>
                <h5><a href="https://github.com/moshikohana">Visit my GitHub Account</a></h5>


            </div>
        </div>

        <div class="row text-center g-pad-bottom">

            <div class="col-md-12">
                <h2>MY SKILL SET</h2>
                <br />
                <div class="alert-info">
                    <div class="progress progress-adjust">
                        <div class="progress-bar progress-bar-success" style="width: 30%">
                            <div class="skill-div">HTML, CSS, JQuery & Bootstrap </div>
                            <span class="sr-only">30% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" style="width: 30%">
                            <div class="skill-div">Java, Javascript, Angular.js & Node.js </div>
                            <span class="sr-only">30% Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 20%">
                            <div class="skill-div"> PHP </div>
                            <span class="sr-only">20% Complete (danger)</span>
                        </div>
                        <div class="progress-bar progress-bar-primary" style="width: 15%">
                            <div class="skill-div">mySQL </div>
                            <span class="sr-only">15% Complete (danger)</span>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    </div>
</section>
<!--END ABOUT SECTION-->
<!-- TESTIMONIAL SECTION-->
<section id="testimonial" >
    <div class="container">
        <h1> Contact: </h1>
        </div>
    </div>
</section>