<!--PROJECT SECTION-->

<section id="project" >
    <center><h1>Projects</h1></center>
    </br>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <!--<img src="assets/img/project2.jpg" class="img-responsive img-thumbnail" alt="">-->
                <img src="img/buy.jpg" class="img-responsive img-thumbnail" style="height: 266px;"  alt="">
                </br>
                </br>
                </br>
                </br>
                <img src="img/music.jpg" class="img-responsive img-thumbnail" style="height: 266px;"  alt="">
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
            </div>
            <div class="col-md-6">

                <h2>Buy A Motorcycle</h2>
                <p>Languages Used: Angular JS (Interceptor, UI Router, Services) Node JS (Http, Express, Body-Parser),
                    Functionality: SPA with registration, logIn\Out and authentication check.
                    You can add motorcycles to cart or remove them. The server store all the data.
                </p>

                <a href="" class="btn btn-primary btn-lg">Let's Buy A Motorcycle</a>

                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>

                <h2>Stanford University Project</h2>
                <p>Languages Used: SQL (many to many), Node JS single server (AJAX GET/POST methods),
                    Javascript, JQuery (modal dialog API), CSS and HTML.
                    Functionality: SPA that store, recall and play music collections.
                </p>

                <a href="" class="btn btn-primary btn-lg">Visit the Music Record Shop</a>

                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>

            </div>

        </div>
</section>
<!--END PROJECT SECTION-->